.body{
      position: absolute;
      left: 0;right: 0;
      opacity: 0.7;
     width: 100%;
     height: 150%;
    }
    .container{
        z-index: 200;
        position: relative;
    }
    .header{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      background-color: rgba(0, 0, 0, 0.9);
      color: white;
    }
    .model{
      display: flex;
      align-items: center;
     justify-content: center;
    }
    .model img{
      position: relative;
      width: 421px;
      height: 448px;
    }
    .type-glass{
      background-color: white;
    }
    .btn-glass{
      outline: none;
      border: none;
     margin: 5px;
    }
    .btn-glass:focus{
      transition: 0.4s;
      outline-style:groove;
      outline-color: bisque;
    }
    .btn-glass img{
      width: 120px;
      height: 100px;
     
    }
  .glass-model img{
    position: absolute;
    top: 14%;
    left: 469px;
    width: 203px;
    height: 91px;
    opacity: 0.9;
  }
  .vglasses__info{
    position: absolute;
    top: 294px;
    left: 359px;
    background-color: rgba(0,0,0,0.7);
    width: 37%;
    color: white;
    padding: 10px ;
    display: block;
    height: 153px;
 
}

.info-header{
position: absolute;
left: 25px;
font-size: 25px;
}
.info-body{
  position: absolute;
  left: 25px;
  top: 50px;
 padding:2px 4px;
 background-color: red;
 color: white;
 border-radius: 10px;
}
.info-content{
  position: absolute;
  left: 25px;
  top: 90px;
  padding:0 0 10px ;
  text-align: left;
}

  
    